<h1 class="titulo-cupom">Cupons Disponiveis</h1>

<section class="content flex justify-center">
    <table class="table table-striped">
        <thead>
          <th>Codigo do Cupom</th>
          <th>Validade</th>
          <th>Percentual de Desconto</th>
          <th colspan="3"></th>
        </thead>
        <tbody>
          <% @cupons.each do |cupom| %>
          <tr>
            <td><%= cupom.nome %></td>
            <td><%= cupom.validade %></td>
            <td><%= cupom.percentual_desconto %></td>
          </tr>
            <% end %>
        </tbody>
    </table>
</section>

<%= link_to "Novo Cupom",  new_cupon_path  %>
