<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/stylesheets/style.css">
    <link rel="shortcut icon" href="../../assets/images/logodp.png" type="image/x-icon">
    <title>Tailwind Navbar</title>
</head>




<section>
<div class="circles-container">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <!-- Adicione mais divs de círculo conforme necessário -->
</div>
</section>

    <!-- Carrosel  -->
    <section>
      <!-- Carrosel -->
      <div id="carrousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img
              src="https://www.drogariaspacheco.com.br/arquivos/dpa-ativa_carnaval_01-02-24_super-1296x290.png?v=638423956968770000"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="https://www.drogariaspacheco.com.br/arquivos/dpa-ativa_curtir-carnaval_05-02-24_super-1296x290.png?v=638428320482830000"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://www.drogariaspacheco.com.br/arquivos/dpsp-mktp_loreal-cupom_12-02-24_super-1296x290.png?v=638428409430530000"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <h1 class="p-7 ml-20 text-2xl md:text-3xl lg:text-4xl xl:text-5xl">Remédios mais procurados</h1>

        <section class="card-product">
        <% @products.each do |product| %>
            <div class="card">
            <%= image_tag  product.image %>
            <div class="card-content">
              <h2 class="card-title"><%=  link_to product.name, product %></h2>
              <p class="card-description"><%= product.description %></p>
            </div>
          </div>
        <% end %>
    </section>
    
        
        
      

  
</body>

</html>











