<h1>Categorias</h1>

<ul>
  <% @categorias.each do |categoria| %>
    <li>
      <%= link_to categoria.nome, categoria %>
    </li>
  <% end %>
</ul>

<%= link_to 'Nova Categoria', new_categoria_path %>
