*{
    margin:0;
    padding:0;
    border-sizing:border-box;
}

#menu{
    display: flex;
    align-items: center;
    height: 81px;
    width:auto;
    background-color:rgb(228,0,43);
    color:white;
}

#menu img {
    margin-right: 10px; 
}

#menu p{
    color:white; 
}

/* p.round3 
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px; */

    #search-form {
        text-align: center;
        margin-top: 20px;
        border: 2px solid white;
        border-radius: 12px;
        padding: 5px;
    }

    #search-box {
        padding: 8px;
        width: 200px;
    }

    #search-button {
        padding: 8px;
    }