

.container {
  transition: margin-left 0.5s;
  padding: 16px;
}

html{
  font-size: 100%;
}
@media (max-width:766px){
  thead{
      display: none;
  }
  td{
    display: grid;
    gap: 5rem;
    grid-template-columns: 10ch auto;  
  }
  td::before{
    content: attr(data-th) ": "; 
    font-weight: bold; 
  }
}

