<h1 class="categorias-container">Categorias Cadastradas</h1>

<section class="content flex justify-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td data-th="Categoria" colspan="2"><h2><%= link_to category.name, category %></h2></td>
        </tr>
        
        <% if category.products.any? %>
          <% category.products.each do |product| %>
            <tr>
              <td data-th="Categoria"><%= link_to product.category.name, product.category %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2">Nenhum produto associado a esta categoria.</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
