<h1 class="categorias-titulo">Categorias Cadastradas</h1>

<section class="content flex justify-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Produto</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <% if category.products.any? %>
          <% category.products.each_with_index do |product, index| %>
            <tr>
              <% if index == 0 %>
                <td data-th="Categoria" rowspan="<%= category.products.size %>">
                  <h2><%= link_to category.name, category %></h2>
                </td>
              <% end %>
              <td data-th="Produto"><%= link_to product.name, product %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td data-th="Categoria"><%= link_to category.name, category %></td>
            <td data-th="Produto">Nenhum produto associado a esta categoria.</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
